<div class="row">

  
  <h3>
    <button type="button" class="btn btn-default pull-right" *ngIf="!isCreateMode && !isUpdateMode" (click)="enableCreateMode()">Create</button>
  </h3>
  <table class="table">
    <thead>
      <tr>
        <td>Party</td>
        <td>Product Count</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of list">
        <td>{{l.Party.Name}}</td>
        <td>{{l.ProductCount}}</td>
        <td>
          <a style="cursor: pointer" (click)="viewPartyPricing(l.Party.Id)">View Pricing</a>
        </td>
      </tr>
      <tr [hidden]="list != null && list.length > 0">
        <td colspan="5" class="text-center">No data found</td>
      </tr>
    </tbody>
  </table>
</div>
